<div class="span4 well">
  <div class="row">
    <div class="span1"><%= image_tag @user.avatar.url(:medium), class: 'thumbnail' %></div>
    <div class="span3">
      <p>User: <b><%= @user.nickname if @user.nickname %></b></p>
            <strong><p><%= @user.email.gsub(/@.{1,}\./, "...") %></p></strong>
      <span class=" badge badge-warning">8 messages</span> <span class=" badge badge-info">15 followers</span>
    </div>
  </div>
</div>