%h3 Комментарии:
#comments
  - @comments.each do |comment|
    .username
      %b
        = comment.user.email
      - if comment.user == current_user
        говорит: #{link_to "Ред.", [:edit, @commentable, comment] if comment.user == current_user}
        = link_to 'Удалить', [@commentable, comment] , method: :delete, data: { confirm: 'Are you sure?' }
    .comment
      %p
        = comment.content