%h3 Комментарии:
#comments
  - @comments.each do |comment|
    .username
      %b
        = comment.user.email
      said: #{link_to "Edit", [:edit, @commentable, comment] if comment.user == current_user}
      = link_to 'Destroy', [@commentable, comment] , method: :delete, data: { confirm: 'Are you sure?' }
    .comment
      %p
        = comment.content