#comments
  - @comments.each do |comment|
    .username
      = comment.user.email
      said: #{link_to "Edit", [:edit, @commentable, comment] if comment.user == current_user}
      = link_to 'Destroy', [@commentable, comment] , method: :delete, data: { confirm: 'Are you sure?' }
    .comment
      = comment.content