<div id="comments">
  <% @comments.each do |comment| %>
  <div class="span6 well">
    <div class="row">
      <div class="span1">
        <%= image_tag comment.user.avatar.url(:thumb), { class: 'thumbnail' } %>
      </div>
      <div class="span5">
        <p><%= link_to comment.user.nickname != nil ? comment.user.nickname : comment.user.email, profile_path(comment.user)  %> said: <%= link_to "Edit", [:edit, @commentable, comment] if comment.user == current_user %></p>
        <p><%= comment.content %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>