<h1>Editing comment</h1>
<div class='span6'>
<div class="row">
<%= render 'form' %>

<%= link_to 'Show', post_comment_path(@comment), class: "btn" %>
<%= link_to 'Back', posts_path, class: "btn" %>
</div>
</div>
